/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * lores-12:
 *   - http://typekit.com/eulas/00000000000000007735bf74
 *   - http://typekit.com/eulas/00000000000000007735bf82
 * lores-12-narrow:
 *   - http://typekit.com/eulas/00000000000000007735bf71
 *
 * © 2009-2026 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2024-09-10 23:10:25 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=xue4mba&ht=tk&f=28316.28317.28319&a=683167&app=typekit&e=css");

@font-face {
font-family:"lores-12";
src:url("https://use.typekit.net/af/67262f/00000000000000007735bf74/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/67262f/00000000000000007735bf74/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/67262f/00000000000000007735bf74/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"lores-12";
src:url("https://use.typekit.net/af/84d9ce/00000000000000007735bf82/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/84d9ce/00000000000000007735bf82/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/84d9ce/00000000000000007735bf82/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"lores-12-narrow";
src:url("https://use.typekit.net/af/f11294/00000000000000007735bf71/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/f11294/00000000000000007735bf71/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/f11294/00000000000000007735bf71/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

.tk-lores-12 { font-family: "lores-12",sans-serif; }
.tk-lores-12-narrow { font-family: "lores-12-narrow",sans-serif; }
